                                @function rem($px) {
                                    //$px为需要转换的大小
                                    @return $px / 108px * 1rem; // 108为移动端的分辨率
                                }

                                .container {
                                    width: 100%;
                                    height: 100%;
                                }


                                .top {
                                    height: rem(128px);
                                    background-color: #009eff;
                                    text-align: center;
                                    color: #fff;
                                    font-size: rem(50px);
                                    font-weight: bold;
                                    line-height: rem(128px);
                                    >span {
                                        float: left;
                                        padding-left: rem(50px);
                                    }
                                    >h2 {
                                        padding-right: rem(50px);
                                    }
                                }

                                .one {
                                    .one1 {
                                        height: rem(760px);
                                        width: 100%; //display: flex;
                                        //flex-direction: column; //flex-wrap: wrap-reverse;
                                        >a {
                                            display: inline-block;
                                            width: 50%;

                                            background: #ccc;
                                            float: left;
                                        }
                                        .two1 {
                                            flex: 2;
                                            width: 50%;
                                            height: rem(500px);

                                            .text {
                                                padding-top: rem(76px);
                                                padding-bottom: rem(42px);
                                                padding-left: rem(44px);
                                                .text1 {
                                                    font-size: rem(48px);
                                                    color: #373737;
                                                    padding-bottom: rem(36px);
                                                }
                                                >p {
                                                    color: #999999;
                                                    font-size: rem(32px);
                                                }
                                            }
                                            >.tu {
                                                >img {
                                                    height: rem(182px);
                                                    padding-left: rem(118px);
                                                }
                                            }
                                        }
                                        .two2 {
                                            flex: 0;
                                            width: 50%;
                                        }
                                        .two3 {
                                            flex: 1;
                                            width: 50%;
                                            height: rem(250px);

                                            .text {
                                                float: left;
                                                vertical-align: middle;
                                                padding-top: rem(74px);
                                                padding-left: rem(46px);

                                                .text1 {
                                                    font-size: rem(48px);
                                                    color: #373737;
                                                    padding-bottom: rem(36px);
                                                }
                                                >p {
                                                    color: #999999;
                                                    font-size: rem(32px);
                                                }
                                            }
                                            >.tu {
                                                vertical-align: middle;
                                                margin-top: rem(40px);
                                                >img {
                                                    padding-right: rem(40px);
                                                    height: rem(182px);
                                                    float: right;
                                                }
                                            }
                                        }
                                        .two4 {
                                            flex: 1;
                                            width: 50%;
                                            height: rem(250px);
                                        }
                                        .two5 {
                                            flex: 1;
                                            width: 50%;
                                            height: rem(250px);
                                        }
                                        .two6 {
                                            flex: 1;
                                            width: 50%;
                                            height: rem(250px);
                                        }
                                    }
                                }